header{
    border: 0;
    padding: 4em;;
    display: flex;
    align-items: center;/* centra verticalmente */
   background-image:url(KFD_SpicyBBQBaconRanchBurger35382_WEB.jpg);
}
header img {  
    width: 15%;
    height: 15%;
    text-align: left;
    margin-right: 18%;
}
header h1{
    font-family: cursive;
    font-size: 75px;
    text-align: center;
    color: #eb2700;
    flex: 1;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
header h2{
    font-family: cursive;
    color: white;
    text-align: right;
    flex: 1;
    margin: 0;
}
body {
    margin: 0;
    background-color: #E5DF56;
}
.top-shadow {
  height: 40px; /* Altura del sombreado */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}


.primero {
    display: flex;
    align-items: center;
    justify-content: space-between; /* distribuye: izquierda, centro, derecha */
    width: 97%;
    padding: 20px;
    margin-top: 20px;
}
.primero ul{
  border: 2px solid black; /* El borde de la caja */
  padding: 25px;            /* Espacio interno entre el texto y el borde */
  width: fit-content;       /* La caja se ajusta al ancho del contenido */
  font-size: 22px;
  border-radius: 8px;       /* Bordes redondeados opcional */
  height:fit-content;
  background-color:cornsilk;
}
.primero img{
    border: 4px solid grey;
    
}
.segundo {
    display: flex;
    justify-content: space-between; /* distribuye: izquierda, centro, derecha */
    width: 97%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}
.segundo img{
    height: 12em;
    width: 17em;
    border: 3px solid black;
}
.uno{
    border: 2px solid black;
    padding: 25px;
    border-radius: 10px;
    background-color: #ff360e;
    
}

.uno:hover{
    transform:scale(1.08);
    border: 3px solid black;
    box-shadow: 2 2 15px white 0 0 30px blue;

}
.tercero {
    display: flex;
    justify-content: space-between; /* distribuye: izquierda, centro, derecha */
    width: 97%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}
.tercero img{
    height: 12em;
    width: 17em;
    border: 3px solid black;
}
footer{
    background-color: #ff360e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
   
}
.ARRIBA{
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    color: black
}
.info-linea {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ajuste img {
    width: 2em;
    height: 2em;
  margin-right: 10px;
}
